.root {
    height: 100%; 
    padding-left: 5px; 
    padding-right: 5px; 
} 

.media {
    display: block;  
    width: auto; 
    height: 60vh; 
    margin-top: 10px; 
}

.card-content {
    width: 100%; 
    height: auto; 
    display: 'flex'; 
    justify-content: 'space-between'; 
    vertical-align: middle;
} 

