.welcome {
    display: block; 
    color: red !important; 
    margin-top: 6rem; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
  }

  #uh {
      color: red !important; 
      margin-top: 100px; 
  }

  .american {
    display: block; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    color: red; 
  } 

  .magAndMyst {
    color: #1e3272 !important; 
    display: block; 
    justify-content: center;
    margin-top: 100px; 
    margin-left: auto; 
    margin-right: auto; 
    text-transform: uppercase; 
    font-weight: bolder; 
    font-style: italic; 
    text-align: center;
  }

  #please {
    color: #1e3272 !important; 
    display: block; 
    justify-content: center !important;
    margin-left: auto; 
    margin-right: auto; 
    text-transform: uppercase; 
    font-weight: bold; 
    font-style: italic; 
    text-align: center;
  }

  .reachOut {
    display: block; 
    justify-content: center; 
  }

  #addy {
    display: block; 
    justify-content: center; 
    text-decoration: none; 
    text-align: center; 
    color: black; 
  }

  #addyBottom {
    display: block; 
    justify-content: center; 
    text-decoration: none; 
    text-align: center; 
    color: black; 
    margin-bottom: 50px;
  }

  #info {
    line-height: 2rem; 
  }

  .hours h3, p{
    display: block; 
    justify-content: center !important; 
    text-align: center !important; 
    align-items: center !important; 
    color: #fff; 
    background-color: #1e3272 !important;
    /* color: #1e3272;  */ 
  }

  .hoursUH h3, p{
    display: block; 
    justify-content: center !important; 
    text-align: center !important; 
    align-items: center !important; 
    color: #fff; 
    background-color: #1e3272 !important;
    margin-bottom: 0px; 
    /* color: #1e3272;  */ 
  }

  .title {
    font-size: 26px;
    display: block; 
    justify-content: center !important; 
    text-align: center !important; 
    align-items: center !important; 
    color: #fff;
    background-color: #1e3272 !important;
    /* color: #1e3272 !important;  */
    font-weight: bold; 
    margin-top: 0px;
  }

  #blue { 
    background-color: #1e3272 !important;  
  } 

  #blue-up {
    background-color: #1e3272 !important;
    height: 5rem; 
  }

  #blue-down {
    background-color: #1e3272 !important;
    height: 5rem; 
    margin-top: 0px; 
  }

  #top {
    height: 55vh; 
    margin-bottom: 225px;
  }

  #iconStuff {
    display: inline-block;
    display: flex;  
    justify-content: center !important; 
    align-items: center !important; 
    align-content: center !important; 
  } 

  #instagram img{
    margin-right: 8px; 
  }

  #linkedin img{
    margin-left: 8px; 
  }

  #bottom {
    background-color: #fff; 
    margin-top: 20px;
    margin-bottom: 20px;
  } 

  #fung-shway {
    display: block; 
    margin-top: 50px; 
    margin-bottom: 50px; 
    margin-left: auto !important; 
    margin-right: auto !important; 
  }