.welcome {
    display: block; 
    color: red !important; 
    margin-top: 6rem; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
  }

  #uh {
      color: red !important; 
      margin-top: 100px; 
  }

  .american {
    display: block; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    color: red; 
  } 

  .magAndMyst {
    color: #1e3272 !important; 
    display: block; 
    justify-content: center;
    margin-top: 100px; 
    margin-left: auto; 
    margin-right: auto; 
    text-transform: uppercase; 
    font-weight: bolder; 
    font-style: italic; 
    text-align: center;
  }

  #please {
    color: #1e3272 !important; 
    display: block; 
    justify-content: center !important;
    margin-left: auto; 
    margin-right: auto; 
    text-transform: uppercase; 
    font-weight: bold; 
    font-style: italic; 
    text-align: center;
  }

  .reachOut {
    display: block; 
    justify-content: center; 
  }

  #addy {
    display: block; 
    justify-content: center; 
    text-decoration: none; 
    text-align: center; 
  }
