.welcome {
    display: block; 
    color: black; 
    margin-top: 6rem; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
  }

  #uh h1{
    
      margin-top: 20px; 
    
  }

  .american {
    display: block; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    color: red; 
  }

