.title {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 26px;
    display: block; 
    justify-content: center !important; 
    text-align: center !important; 
    align-items: center !important; 
    color: #fff;
    background-color: #1e3272 !important;
    /* color: #1e3272 !important;  */
    font-weight: bold; 
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .hours h3, p{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px;
    display: block; 
    justify-content: center !important; 
    text-align: left !important; 
    align-items: center !important; 
    color: #fff; 
    background-color: #1e3272 !important;
    margin-top: 0px;
    margin-bottom: 0px; 
    /* color: #1e3272;  */ 
  }

  .hoursUH h3, p{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px;
    display: block; 
    justify-content: center !important; 
    text-align: left !important; 
    align-items: center !important; 
    color: #fff; 
    background-color: #1e3272 !important;
    margin-bottom: 40px; 
    /* color: #1e3272;  */ 
  }

  #hours {
      align-items: center;  
      line-height: 0.5rem; 
      background: #1e3272; 
  } 

  #space {
    background: #1e3272; 
    height: 20px; 
  }