#hours-div {
  background-color: #1e3272; 
}

.title {
  font-family: 'Times New Roman', Times, serif; 
  font-size: 28px;
  display: flex; 
  justify-content: center !important;
  margin-left: auto; 
  margin-right: auto; 
  text-align: left; 
  color: #fff; 
  background-color: #1e3272 !important; 
  margin-top: 0px;
  margin-bottom: 1px; 
  /* color: #1e3272;  */ 
  }

  .hours{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px; 
    display: flex; 
    justify-content: center !important;
    margin-left: auto; 
    margin-right: auto; 
    text-align: left; 
    color: #fff; 
    background-color: #1e3272 !important; 
    margin-top: 0px;
    margin-bottom: 10px; 
    /* color: #1e3272;  */ 
  }

  .hoursUH{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px;
    display: flex; 
    justify-content: center !important; 
    text-align: center !important; 
    color: #fff; 
    background-color: #1e327200 !important; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 0px;
    margin-bottom: 0px; 
  }

  #hours {  
      line-height: 0.5rem; 
      background: #1e3272; 
  } 

  .hours-container {
    display: flex; 
    justify-content: center !important; 
    margin-left: auto; 
    margin-right: auto; 
    width: auto; 
    height: auto; 
    margin-top: 0px;
    margin-bottom: 0px; 
  } 

  .days {
    display: inline-block; 
    margin-right: 20px; 
    width: auto; 
    height: auto; 
    margin-top: 0px;
    margin-bottom: 0px; 
  } 

  .days-header {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px; 
    text-align: left; 
    color: #fff; 
    background-color: #1e3272 !important; 
  } 

  .the-hours {
    display: inline-block; 
    width: auto; 
    height: auto; 
    margin-top: 0px;
    margin-bottom: 0px; 
  } 

  .hours-header {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px; 
    text-align: left; 
    color: #fff; 
    background-color: #1e3272 !important; 
  }

  #space {
    background: #1e3272; 
    height: 40px; 
  }

  #space-uh {
    background: #1e3272; 
    height: 20px; 
  } 

  @media only screen and (max-width: 600px) {

    .days-header {
      font-size: 15px; 
    }

    .hours-header {
      font-size: 15px; 
    }

  }