#hours-div {
  background-color: #1e3272; 
  margin-bottom: 20px; 
  height: 115vh; 
}

#hours-div-mandarin {
  background-color: #1e3272; 
  margin-bottom: 20px; 
  height: 150vh; 
} 

/* Card stuff */ 
.card-row-here {
  display: flex; 
  align-content: center !important; 
  justify-content: space-evenly; 
} 

.the-card-good {
  display: flex; 
  justify-content: center !important; 
  margin-left: auto; 
  margin-right: auto;  
  width: auto; 
  height: 35vh; 
  margin-top: 5vh !important; 
  margin-bottom: 5vh !important;
  background: #1e3272; 
}

.the-good-card {
  display: inline-block; 
  margin-left: auto; 
  margin-right: auto; 
  width: auto; 
  height: 45vh; 
} 

.the-good-card-pc {
  display: inline-block; 
  margin-left: auto; 
  margin-right: auto; 
  width: auto; 
  height: 45vh; 
} 

.the-good-card-mobile {
  display: none; 
} 

.our-favorite-card {
  display: none; 
}

/* ------------------------------- */

#house {
  float: left;
  margin-right: 10vw; 
  margin-top: 37.5px; 
  width: auto; 
  height: 30vh; 
} 

#visit {
  max-width: 50vw !important; 
}

/* ------V----BOTTOM ROW----V------ */

#artist {
  float: right;
  margin-left: 8vw; 
  margin-top: 37.5px; 
  width: auto; 
  height: 30vh;
} 

#explore {
  max-width: 50vw !important; 
  margin-top: 8vh; 
}

/* ------------------------------- */

#image-thing-home {
  display: flex; 
  justify-content: center !important;  
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 45px; 
  margin-bottom: auto; 
  vertical-align: middle !important;
  width: auto; 
  height: 35vh; 
} 

#image-thing-home-1 {
  display: flex; 
  justify-content: center !important;  
  margin-left: 5vw !important; 
  margin-right: auto; 
  margin-top: 45px; 
  margin-bottom: auto; 
  vertical-align: middle !important;
  width: auto; 
  height: 35vh; 
} 

#image-thing-home-2 {
  display: flex; 
  justify-content: center;  
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 50px; 
  vertical-align: middle;
  max-width: 46vw !important; 
  height: auto; 
} 

/*End Card Stuff*/ 

.title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 28px;
  font-weight: bold;
  display: flex; 
  justify-content: center !important;
  margin-left: auto; 
  margin-right: auto; 
  text-align: left; 
  color: #fff; 
  background-color: #1e3272 !important; 
  margin-top: 0px;
  margin-bottom: 1px; 
  }

  .hours{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px; 
    display: flex; 
    justify-content: center !important;
    margin-left: auto; 
    margin-right: auto; 
    text-align: left; 
    color: #fff; 
    background-color: #1e3272 !important; 
    margin-top: 0px;
    margin-bottom: 10px; 
    /* color: #1e3272;  */ 
  }

  .hoursUH{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex; 
    justify-content: center !important; 
    text-align: center !important; 
    color: #fff; 
    background-color: #1e327200 !important; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 0px;
    margin-bottom: 0px; 
  }

  #hours {  
      line-height: 0.5rem; 
      background: #1e3272; 
  } 

  .hours-container {
    display: flex; 
    justify-content: center !important; 
    margin-left: auto; 
    margin-right: auto; 
    width: auto; 
    height: auto; 
    margin-top: 0px;
    margin-bottom: 0px; 
  } 

  .the-hours-container {
    display: block; 
    text-align: center !important;
    margin-left: auto; 
    margin-right: auto; 
    border-width: 0.15em; 
    border-style: solid; 
    border-radius: 5px; 
    border-color: white; 
  } 

  .days {
    display: inline-block; 
    margin-right: 30px; 
    width: auto; 
    height: auto; 
    margin-top: 0px;
    margin-bottom: 0px; 
  } 

  .days-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px; 
    text-align: left; 
    color: #fff; 
    background-color: #1e3272 !important; 
  } 

  .the-hours {
    display: inline-block; 
    width: auto; 
    height: auto; 
    margin-top: 0px;
    margin-bottom: 0px; 
  } 

  .schedule {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px; 
    text-align: center;  
    color: #fff; 
    background-color: #1e3272 !important; 
    margin-left: 25vw; 
    margin-right: 25vw; 
  }

  .hours-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px; 
    text-align: left; 
    color: #fff; 
    background-color: #1e3272 !important; 
  } 

  .sub {
    display: block; 
    color: white; 
    align-items: center; 
    text-align: center; 
  } 

  .head {
    display: block; 
    color: white; 
    align-items: center; 
    text-align: center; 
  } 

  .a-head {
    display: block; 
    color: white; 
    align-items: center; 
    text-align: center; 
    text-decoration: underline; 
  }

  #space {
    background: #1e3272; 
    height: 40px; 
  }

  #space-uh {
    background: #1e3272; 
    height: 20px; 
  } 

  .sep {
    height: 10vh !important; 
  } 

  .paragraph {
    color: white; 
    text-align: center; 
    font-weight: bold; 
  } 

  @media only screen and (max-width: 1000px) {

    #hours-div {
      background-color: #1e3272; 
      margin-bottom: 20px; 
      height: 120vh !important; 
    }

  }

  @media only screen and (max-width: 900px) {

    #hours-div {
      background-color: #1e3272; 
      margin-bottom: 20px; 
      height: 120vh !important; 
    } 

    #image-thing-home {
      margin-top: 100px;
    }

    #explore {
      margin-top: 4vh; 
    }

    .sep {
      height: 10vh !important; 
    } 

  }

  @media only screen and (max-width: 850px) {

    .card-row-here {
      display: flex; 
      justify-content: center !important;
      margin-right: auto !important; 
      margin-left: auto !important; 
    } 

    /* ------------------------------- */

    #house {
      float: left;
      margin-right: auto; 
      margin-left: auto; 
      margin-top: auto;
      margin-bottom: auto;
      width: auto; 
      height: 30vh; 
    } 

    #visit {
      max-width: 80vw !important; 
    }

    /* ------V----BOTTOM ROW----V------ */

    #artist {
      float: left;
      margin-right: auto; 
      margin-left: auto; 
      margin-top: auto;
      margin-bottom: auto;
      width: auto; 
      height: 30vh; 
    } 

    #explore {
      max-width: 80vw !important; 
    }

    #hours-div {
      background-color: #1e3272; 
      margin-bottom: 20px; 
      height: 185vh !important; 
    } 

    .sep {
      height: 10vh !important; 
    } 

    #hours-div-mandarin {
      background-color: #1e3272; 
      margin-bottom: 20px; 
      height: 185vh; 
    }

    .days-header {
      font-size: 15px; 
    }

    .hours-header {
      font-size: 15px; 
    }

    .schedule {
      margin-left: 5vw; 
      margin-right: 5vw; 
    } 

    #image-thing-home {
      display: flex; 
      justify-content: center;  
      margin-left: auto; 
      margin-right: auto; 
      margin-top: 30px; 
      margin-bottom: 20px; 
      vertical-align: middle;
      max-width: 55vw !important; 
      height: auto; 
    } 
  
    #image-thing-home-2 {
      display: flex; 
      justify-content: center;  
      margin-left: auto; 
      margin-right: auto; 
      margin-top: 50px; 
      /* margin-bottom: 20px;  */
      vertical-align: middle;
      max-width: 75vw !important; 
      height: auto; 
    } 

    .the-good-card { 
      display: block; 
      width: 76vw; 
      height: auto; 
  } 

    .the-good-card-pc {
      display: none; 
    } 

    .the-good-card-mobile { 
      display: block; 
      width: 76vw; 
      height: auto; 
  } 

  .our-favorite-card { 
      display: block; 
      width: 76vw; 
      height: auto; 
  } 

  @media only screen and (max-width: 600px) {

    #hours-div {
      background-color: #1e3272; 
      margin-bottom: 20px; 
      height: 200vh !important; 
    } 

    .days-header {
      font-size: 11.5px; 
    }

    .hours-header {
      font-size: 11.5px; 
    } 

    .days {
      margin-right: 15px; 
    }

  }

}