.a-dropdown-menu {
  background: red;
  width: 220px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.a-dropdown-menu li {
  background: #1e3272;
  cursor: pointer;
}

.a-dropdown-menu li:hover {
  background: #6376b3;
}

.a-dropdown-menu.clicked {
  display: none;
}

.a-dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
