.e-dropdown-menu {
  background: red;
  width: 220px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  z-index: 111; 
  display: inline-block; 
}

.e-dropdown-menu li { 
  display: block; 
  background: #1e3272;
  cursor: pointer; 
  width: 210px; 
  transform: translateX(-35px); 
}

.e-dropdown-menu li:hover {
  background: #6376b3;
}

.e-dropdown-menu.clicked {
  display: none;
}

.e-dropdown-link {
  display: block; 
  height: 100%;
  width: fit-content; 
  text-decoration: none;
  color: #fff;
  padding: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
