#the-button {
    display: inline-block; 
    margin-left: 5vw; 
    margin-top: 40px; 
    width: 90px; 
    height: 40px; 
    /* padding: 0.3em 1em;  */
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px; 
    text-align: center; 
    text-decoration: none;
    color: #000000;
    border: solid 2px #000000;
    border-radius: 3px;
    transition: .4s;
} 

#the-button:hover { 
    background: #000000; 
    color: white;
}