.header-none {
    display: none; 
}

.header {
    display: block; 
}

.exhibition {
    display: block; 
    color: black; 
    margin-top: 4rem; 
    margin-left: auto; 
    margin-right: auto; 
  } 

  #head {
    display: block; 
    color: black; 
    margin-top: 80px; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
    text-transform: uppercase; 
    text-decoration: underline; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 22px !important; 
    color: black !important; 
  } 

  #points {
    display: block; 
    color: black; 
    margin-top: 40px; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
    text-decoration: none; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px !important; 
    color: black !important; 
  }

  #caption-thing {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px; 
    text-align: center; 
    text-decoration: none; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px !important;  
    color: black !important; 
} 

#art-paragraph {
    display: flex; 
    justify-content: center; 
    margin-top: 80px;  
    margin-left: 120px; 
    margin-right: 120px; 
    background-color: #fff !important; 
    color: black !important; 
    text-align: left !important; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px !important;
    line-height: 1.7rem !important; 
  } 

#art-paragraph-other {
    display: flex; 
    justify-content: center; 
    margin-top: 15px;  
    margin-left: 120px; 
    margin-right: 120px; 
    background-color: #fff !important; 
    color: black !important; 
    text-align: left !important; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px !important;
    line-height: 1.7rem !important; 
  } 

#link {
    text-decoration: none; 
}

#image-thing {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 40px; 
}