#copyright {
    display: flex !important; 
    justify-content: center !important; 
    font-size: 12px !important; 
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important; 
    text-align: center !important; 
    margin-top: 10px !important; 
    margin-bottom: 70px !important; 
    color: white !important; 
}